html{
  font-size:18px;
  font-family: "Work Sans", sans-serif;
}

body{
  margin:0;
}

#top{
  margin: 0;
  padding: 3% 15%;
  text-align: center;
  background-color: #1B2631;
  color: #fff;
}

.img-caption{
  font-style: italic;
  font-size: 12px;
}



#content{
  line-height:1.5;
  width:50%;
  margin:auto;
  padding: 3% 15%
}

#bottom{
  background-color: #1B2631;
  color: #fff;
  padding: 10px 5px;
}

#link:hover{
  color: #F4D03F;
}
